:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-grey-light-1: #f8f8f8;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: 'MetaOffcPro Bold', Arial, sans-serif;
  color: var(--color-grey-dark-1);
  background-color: var(--color-grey-light-1);
}

h1 {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.32px;
  line-height: 3.8rem;
  padding: 5rem 0;
}

h2 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.6rem;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: -0.16px;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
