.blog-post {
  width: 780px;
  background-color: #fff;
  padding: 0 80px 50px 80px;

  &__container {
    display: flex;
    justify-content: center;
    margin: 15rem 0;
  }

  img {
    width: 620px;
    padding: 2rem 0;
  }
}
