.blog-post {
  width: 780px;
  background-color: #fff;
  padding: 0 80px 50px 80px;

  &__container {
    display: flex;
    justify-content: center;
    margin: 20rem 0;
  }

  &__header {
    position: absolute;
    top: -8rem;
    left: 0;
    z-index: -100;
  }

  img {
    width: 620px;
    padding: 2rem 0;
  }
}

.links {
  padding: 1rem 2rem;
}

.links-container {
  font-size: 2rem;
  margin: 2rem 0;
}
